# Зависимости
node_modules/
npm-debug.log*

# Сборка
/dist
/build

# Переменные окружения (ВАЖНО!)
.env


# Логи
logs
*.log

# Кэш
.npm
.cache/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Docker
docker-compose.override.yml
node_modules
